@font-face {
  font-family: 'Roboto Slab', serif;
  font-family: 'Noto Serif JP', serif;
  font-family: 'Oswald', sans-serif;
}

.sidebar{
  position: fixed;
  top: 0px;
  left: 0px;
  width: 250px;
  height: 100%;
  border-right: 1px solid #333333;
}

.sidebar-logo h1{
  font-family: 'Oswald', sans-serif;
  font-size: 35px;
  margin: 20px;
  color: #333333;
}

#menubtn img{
    width:100%;
    max-width: 50px;
    cursor: pointer;
    position: fixed;
    top: 20px;
    right: 10px;
}
.w1000{
    max-width:1000px;
    margin: 0 auto;
}
nav{
    background-color:#ccc;
    padding:20px 3%;
    display: none;
    position: fixed;
    top: 100px;
    width: 100%;
    opacity: 0.9
}

nav li{
  list-style: none;
  padding: 10px 0px;
  font-family: 'Noto Serif JP', serif;
  font-size: 25px;
}

nav a{
  color: #333333;
  margin-left: 100px;
  text-decoration: none;
}

#nav-input:checked ~ nav {/*チェック入ってるとき ~ メニューが*/
    display: block;/*追加*/
}
@keyframes fadeIn {
    from { opacity: 0; }/*追加*/
    to { opacity: 1; }/*追加*/
  }
.nav-hidden{
    display:none;
}

.sidebar-logo a{
  text-decoration: none;
}

.sidebar-list ul{
  margin: 40px auto;
}

.sidebar-list li{
  list-style: none;
  font-family: 'Noto Serif JP', serif;
  font-size: 20px;
  color: #333333;
  padding: 10px;
  margin-right: 30px;
}

.sidebar-list a{
  text-decoration: none;
}

.sidebar-list li:hover{
  text-decoration: underline;
}

.sidebar-list2 ul{
  margin: 40px auto;
  padding-top: 40px;
  border-top: 1px solid #333333;
}

.sidebar-list2 li{
  list-style: none;
  font-family: 'Noto Serif JP', serif;
  font-size: 20px;
  color: #333333;
  padding: 10px;
  margin-right: 30px;
}

.sidebar-list2 a{
  text-decoration: none;
}

.sidebar-list2 li:hover{
  text-decoration: underline;
}

.other ul{
  margin: 40px auto;
  padding-top: 40px;
  border-top: 1px solid #333333;
}

.other li{
  list-style: none;
  font-family: 'Noto Serif JP', serif;
  font-size: 20px;
  color: #333333;
  padding: 10px;
  margin-right: 30px;
}

.other a{
  text-decoration: none;
}

.other li:hover{
  text-decoration: underline;
}

.bottom-list ul{
  bottom: 0px;
  padding-top: 30px;
  border-top: 1px solid #333333;
  font-family: 'Noto Serif JP', serif;
}

.bottom-list li{
  list-style: none;
  margin-bottom: 10px;
}

.bottom-list a{
  color: #333333;
  text-decoration: none;
  opacity: 0.9;
}

.bottom-list a:hover{
  text-decoration: underline;
}

.main{
  margin-left: 250px;
  display: flex;
  flex-wrap: wrap;
}

.gold-medal{
  width: 50%;
  flex-wrap: wrap;
  margin-bottom: 100px
}

.gold-medal h1{
  margin: 50px;
  color: #333333;
  font-family: 'Noto Serif JP', serif;
}

.gold-medal a{
  color: #333333;
  list-style: none;
  text-decoration: none;
}

.gold-medal li{
  list-style: none;
  font-family: 'Noto Serif JP', serif;
  padding: 5px;
}

.gold-medal a:hover{
  text-decoration: underline;
}

.gold-medal-list{
  margin: 0px 0px 0px 90px;
}





.morning-work{
  width: 50%;
  flex-wrap: wrap;
  margin-bottom: 100px;
}

.morning-work h1{
  margin: 50px;
  color: #333333;
  font-family: 'Noto Serif JP', serif;
}

.morning-work a{
  color: #333333;
  list-style: none;
}

.morning-work li{
  list-style: none;
  font-family: 'Noto Serif JP', serif;
}

.morning-work a{
  text-decoration: none;
}

.morning-work a:hover{
  text-decoration: underline;
}

.morning-work-list{
  margin: 0px 0px 0px 90px;
}






.todays-work{
  width: 50%;
  flex-wrap: wrap;
  margin-bottom: 100px;
}

.todays-work h1{
  margin: 50px;
  color: #333333;
  font-family: 'Noto Serif JP', serif;
}

.todays-work a{
  color: #333333;
  list-style: none;
}

.todays-work li{
  list-style: none;
  font-family: 'Noto Serif JP', serif;
}

.todays-work a{
  text-decoration: none;
}

.todays-work a:hover{
  text-decoration: underline;
}

.todays-work-list{
  margin: 0px 0px 0px 90px;
}
